amyloid_ngram.aux
amyloid_ngram.bbl
amyloid_ngram.log
amyloid_ngram.synctex.gz
amyloid_ngram_abstr.aux
amyloid_ngram_abstr.bbl
amyloid_ngram_abstr.log
amyloid_ngram_abstr.synctex.gz
amyloid_poster-concordance.tex
amyloid_poster.aux
amyloid_poster.log
amyloid_poster.nav
amyloid_poster.out
amyloid_poster.snm
amyloid_poster.synctex.gz
amyloid_poster.toc
figure
gcb_abstract_posterMB1.zip
amyloid_poster.bbl
amyloid_poster.blg
gcb_abstract_posterMB2.zip
gcb_abstract_posterMB3.zip
