.Rproj.user
.Rhistory
.RData
amyloid2015.Rproj
index.Rmd
presentation-concordance.tex
presentation.aux
presentation.log
presentation.nav
presentation.out
presentation.snm
presentation.synctex.gz
presentation.toc
